

body, html, * {
    padding: 0px;
    margin: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #f2ead0;
}

a:hover {
    color: rgb(216, 215, 212, 0);
    transition-: 0.3s all ease-in-out; 
    -webkit-transition: 0.3s all ease-in-out; 
    -moz-transition: 0.3s all ease-in-out; 
    -o-transition: 0.3s all ease-in-out; 
    -ms-transition: 0.3s all ease-in-out;
}

b {
    text-transform: uppercase;
    color: #f2ead0;
}

p {
	margin-top: 50px;
}

.name {
    color: #000;
    font-family: 'Cormorant Garamond', serif; 
    font-size:30px; 
    letter-spacing:5px;
    font-weight:700; 
    text-transform:uppercase; 
    text-align:left; 
    padding: 30px;
}

.navbar{
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index:40;
  border-top: solid 1px #ddd;
}

.menu{
position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index:40;
}

.nav{
  display:inline-block;
  float:right;
  margin-top: 15px;
  margin-right:50px;
  -moz-transition: 3s, 1.5s;  
  -webkit-transition: 3s, 1.5s;
  background-color: transparent;
}

.nav a{
    color: #e3d4ba;
    width: 500px; 
    padding-top: 15px; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: .75em; 
    letter-spacing: 5px; 
    font-weight: bold; 
    text-align: right; 
    line-height: 120%; 
    text-transform: uppercase;
    background-color:transparent;
}

.nav a:hover{
  background-color:transparent;
  color: #d8d7d4;
    transition-: 0.3s all ease-in-out; 
    -webkit-transition: 0.3s all ease-in-out; 
    -moz-transition: 0.3s all ease-in-out; 
    -o-transition: 0.3s all ease-in-out; 
    -ms-transition: 0.3s all ease-in-out;}

#maingrid {
  margin-top: 100px;
}

#maingrid img {
  max-width: 700px;
  max-height: 700px;
  margin: 15px;
}

.RPLYname { width: 630px; color: #000; font-family: 'Cormorant Garamond', serif;  font-size:1.5em;  letter-spacing:5px; font-weight:700; text-transform:uppercase; text-align:left; margin-bottom: 15px; }

.RPLYtxt { width: 630px; text-align: justify; font-family: times; font-size: .8em; letter-spacing: 1px; line-height: 250%; text-transform: lowecase; overflow: auto; }

.credit {
    padding-top: 150px;
    margin-bottom: 15px;
    color: #f2ead0;
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 8px; 
    letter-spacing: 2px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase;
    background-color:transparent;
}